.a{background-color: blueviolet;border: 2px solid darkcyan;}
    .b{background-color: rgb(96, 248, 54); border: none;border-radius: 20px;padding: 5px 10px;}
    .c{background-color: rgb(229, 224, 217);border: 2px solid;border-radius: 10px;padding: 5px 40px;}